{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.eslint.json"]
      }
    }
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": [2, { "code": 160 }],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "no-return-await": [2],
    "consistent-return": [2],
    "default-case-last": [2],
    "@typescript-eslint/await-thenable": [2],
    "@typescript-eslint/no-unused-vars": [2],
    "semi": "off",
    "@typescript-eslint/semi": [2]
  }
}
