/.nuxt
/components
/content
/coverage
/layouts
/node_modules
/pages
/plugins
/static
/style
/test
/.babelrc
/.editorconfig
/.eslintrc.js
/.gitignore
/jest.config.js
/nuxt.config.js
/package-lock.json
/package.json
/tsconfig.json
